html, * {
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'HelveticaNeue', sans-serif;
  line-height:1.2;
  background-color: $background-body-color;
  -webkit-text-size-adjust: 100%;
}
.d-flex{
  display: flex;
}
.flex-justify-space{
  justify-content: space-between;
}
.flex-align-center{
  align-items: center;
}
.text-center{
  text-align: center;
}
.bordered{
  border-radius: $border-radius;
}
.hide{
  display: none!important;
}
.payment_container{
  max-width: 450px;
  width:100%;
  top: 0;
  transform: translate(0%);
  @include center(left);
  @include mq(450, min, 420){
    top:100px;
  }
}
.payment_box{
  width: 100%;
  border-radius: 2px;
  background-color: $box-color;
  @include mq(450){
    border: solid 1px $border-color;
  }
}
.payment_section{
  padding: 20px 20px 20px;
  &.payment_section-top{
    padding: 15px 20px 0 20px;
    border-bottom: 2px solid $border-color;
    @include mq(450){
      padding: 20px 50px 0 50px;
    }
  }
  @include mq(450){
    padding: 20px 50px 30px;
  }
}
.payment_logo{
  img{
    width: 32px;
    height: 13px;
  }
}
.payment_description{
  margin: 20px 0 20px 0;
  font-size: 14px;
  @include mq(450){
    font-size: 12px;
  }
}
.payment_info{
  padding: 15px 0;
  font-size: 14px;
  border-top:1px solid $border-color;
  @include mq(450){
    padding: 20px 0;
    font-size: 12px;
  }
}
.payment_value{
  font-size: 13px;
  font-weight: bold;
  color: $green-color;
}
.payment_form{
  label{
    display: block;
    margin: 0 0 10px;
    color: $label-color;
    font-size: 14px;
    @include mq(450){
      font-size: 12px;
    }
  }
}

.payment_footer{
  padding: 20px 0 0;
  img:not(:last-child){
    display: inline-block;
    margin-right: 20px;
  }
}

