[class^="icon"]{
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
.icon_visa-logo{
  width: 31px;
  height: 10px;
  background-image: url(../../static/visa_2.svg);
}
.icon_mastercard-logo{
  width: 24px;
  height: 15px;
  background-image: url(../../static/mc-vrt-pos.svg);
}

.icon_maestro-logo{
  width: 24px;
  height: 15px;
  background-image: url(../../static/ms-vrt-pos.svg);
}