.message_box{
  @extend .payment_container;
  height: 425px;
  padding: 20px 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(153, 153, 153, 0.16);
  background-color: #fcfcfc;
  @include mq(450){
    padding: 20px 50px 0;
  }
  .message-icon{
    width: 58px;
    height: 58px;
    margin: 50px auto 20px;
    @include mq(450){
      margin: 80px auto 20px;
    }
  }
  .message_title{
    margin: 0 0 20px;
    color: $text-color;
    font-size: 16px;
    @include mq(450){
      font-size: 18px;
    }
  }
  .message_description{
    color: $message-desc-color;
    font-size: 14px;
    @include mq(450){
      font-size: 16px;
    }
  }
}